	.topics {color : blue;
		}

	p { font-family: TimesNewRoman: serif; font-size: 12pt
	}

	h1 {
	}

	h2 { color: red		
	}

	body { font-family: TimesNewRoman: serif; font-size: 12pt
	}
	
	div {
	}

	#contact {
	}
		
	b { color: blue; 
	}

	

