	b { font-family: Courier-New, monospace; font-size: 14pt;" }
	
	.topics {
	color : blue;
		}

	p {  }

	h1 {}

	h2 {}

	body {}

	div {}

	#contact {}
<--

/*	h2 { color: red		
			}
	body { font-family: TimesNewRoman: serif; font-size: 12pt

	}
	p { font-family: TimesNewRoman: serif; font-size: 12pt

	}
	b { color: blue; }*/